/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
/node_modules
/.grunt
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/.php-cs-fixer.php
/.php-cs-fixer.cache
node_modules/
web/css/styles.css
/var/*
!/var/.htaccess
!/vendor/.htaccess
.DS_Store
composer.phar
/vendor/
local.properties
.settings/
.loadpath
.project
.buildpath
.idea/
